GEMINI_API_KEY=AIzaSyBzKWw0tarvAE39WIdqXIEryAIEQ0sNMmc
GEMINI_DEFAULT_MODEL=gemini-1.5-flash-latest

# Alternativa (OpenAI)
# OPENAI_API_KEY=coloque_sua_chave_aqui
# OPENAI_DEFAULT_MODEL=gpt-4.1-mini

